#div1{
    background-color: rgb(5, 5, 70);
    height: 150px;
    width: 150px;
}

#div2{
    background-color: blue ;
    height: 150px;
    width: 150px;
}

#div3{
    background-color:lightskyblue;
    height: 150px;
    width: 150px;
}

#div4{
    background-color: lightblue;
    height: 150px;
    width: 150px;
}